In [3]:
!pip install pytrends

Collecting pytrends
  Using cached pytrends-4.9.2-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: requests>=2.0 in c:\users\usuario\anaconda3\lib\site-packages (from pytrends) (2.31.0)
Requirement already satisfied: pandas>=0.25 in c:\users\usuario\anaconda3\lib\site-packages (from pytrends) (2.1.4)
Requirement already satisfied: lxml in c:\users\usuario\anaconda3\lib\site-packages (from pytrends) (4.9.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.0->pytrends) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.0->pytrends) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.0->pytrends) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.0->pytrends) (2024.7.4)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25->pytrends) (1.16.0)
Using cached pytrends-4.9.2-py3-none-any.whl (15 kB)
Installing collected packages: pytrends
Successfully installed pytrends-4.9.2

In [1]:
import pandas as pd
from pytrends.request import TrendReq

In [2]:
#df= pd.read_csv('models.csv')
df= pd.read_csv('m1.csv')
df

    year        make          model                   body_styles
0   2015   chevrolet         Camaro      ["Convertible", "Coupe"]
1   2015   chevrolet  Captiva Sport                       ["SUV"]
2   2015       honda         Accord            ["Sedan", "Coupe"]
3   2015       honda  Accord Hybrid                     ["Sedan"]
4   2015     hyundai         Accent        ["Sedan", "Hatchback"]
5   2015     hyundai          Azera                     ["Sedan"]
6   2015         kia        Cadenza                     ["Sedan"]
7   2015         kia          Forte                     ["Sedan"]
8   2015      nissan           370Z      ["Coupe", "Convertible"]
9   2015      nissan         Altima                     ["Sedan"]
10  2015      toyota        4Runner                       ["SUV"]
11  2015      toyota         Avalon                     ["Sedan"]
12  2015  volkswagen         Beetle  ["Hatchback", "Convertible"]
13  2015  volkswagen             CC                     ["Sedan"]

In [4]:
# Initialize Pytrends
pytrends = TrendReq(hl='es-PE')  # Set the region to Peru

## Interest #1

In [5]:
def get_average_interest(make, model):
    # Create the search term
    search_term = f"{make} {model}"
    
    # Get the Google Trends data
    pytrends.build_payload([search_term], timeframe='today 5-y', geo='PE')
    data = pytrends.interest_over_time()
    
    # Check if data is not empty and calculate average interest
    if not data.empty:
        return data[search_term].mean()  # Average interest over the last 5 years
    else:
        return None  # If no data is found

# Apply the function to create a new column in the DataFrame
df['average_interest'] = df.apply(lambda row: get_average_interest(row['make'], row['model']), axis=1)

In [9]:
#show make model and average interest
df[['make', 'model', 'average_interest']]
#df[['make', 'model']]

          make          model  average_interest
0    chevrolet         Camaro         55.156489
1    chevrolet  Captiva Sport               NaN
2        honda         Accord         39.553435
3        honda  Accord Hybrid          0.381679
4      hyundai         Accent         60.958015
5      hyundai          Azera          0.381679
6          kia        Cadenza          0.782443
7          kia          Forte          1.687023
8       nissan           370Z          2.427481
9       nissan         Altima          2.591603
10      toyota        4Runner         18.500000
11      toyota         Avalon          0.381679
12  volkswagen         Beetle         10.396947
13  volkswagen             CC          0.770992

In [ ]:
df.to_csv('models_with_interest.csv', index=False)

## Interest #2

In [3]:
df

    year        make          model                   body_styles
0   2015   chevrolet         Camaro      ["Convertible", "Coupe"]
1   2015   chevrolet  Captiva Sport                       ["SUV"]
2   2015       honda         Accord            ["Sedan", "Coupe"]
3   2015       honda  Accord Hybrid                     ["Sedan"]
4   2015     hyundai         Accent        ["Sedan", "Hatchback"]
5   2015     hyundai          Azera                     ["Sedan"]
6   2015         kia        Cadenza                     ["Sedan"]
7   2015         kia          Forte                     ["Sedan"]
8   2015      nissan           370Z      ["Coupe", "Convertible"]
9   2015      nissan         Altima                     ["Sedan"]
10  2015      toyota        4Runner                       ["SUV"]
11  2015      toyota         Avalon                     ["Sedan"]
12  2015  volkswagen         Beetle  ["Hatchback", "Convertible"]
13  2015  volkswagen             CC                     ["Sedan"]

In [13]:
# get make and model from the dataframe and store it in a list
models = df[['make', 'model']].values.tolist()
#join in a single string
models = [' '.join(make_model) for make_model in models]
models

['chevrolet Camaro',
 'chevrolet Captiva Sport',
 'honda Accord',
 'honda Accord Hybrid',
 'hyundai Accent',
 'hyundai Azera',
 'kia Cadenza',
 'kia Forte',
 'nissan 370Z',
 'nissan Altima',
 'toyota 4Runner',
 'toyota Avalon',
 'volkswagen Beetle',
 'volkswagen CC']

In [6]:
from pytrends.request import TrendReq

# Initialize Pytrends
pytrends = TrendReq(hl='es-PE')  # Set the region to Peru

all_keywords = models
timeframes = ['today 5-y', 'today 12-m', 'today 3-m', 'today 1-m']
cat = '0'
geo = 'PE'
gprop = ''

In [53]:
def check_trends():
    pytrends.build_payload(all_keywords[0:5], cat=0, timeframe='today 3-m', geo='PE')
    data = pytrends.interest_over_time()
    #print(data)
    mean = data.mean()
    print(mean)
    #mean = round(data.mean(), 2)
    #avg = round(data[kw][-52:].mean(),2)
    #avg2 = round(data[kw][:52].mean(),2)
    #trend = round(((avg/mean[kw])-1)*100,2)
    #trend2 = round(((avg/avg2)-1)*100,2)

In [54]:
check_trends()

chevrolet Camaro            2.064516
chevrolet Captiva Sport     0.494624
honda Accord                1.612903
honda Accord Hybrid         0.408602
hyundai Accent             31.000000
isPartial                   0.010753
dtype: float64

In [ ]:
#[ lst + [mylist[0]] for lst in list(chunks(mylist[1:], 4))]

In [32]:
for i in range(0, 5):
    pytrends.build_payload([all_keywords[i]], cat=0, timeframe='today 3-m', geo='PE')
    data = pytrends.interest_over_time()
    mean = data.mean()
    print(data)
    print()

            chevrolet Camaro  isPartial
date
2024-07-24                 0      False
2024-07-25                 0      False
2024-07-26                 0      False
2024-07-27                 0      False
2024-07-28                 0      False
...                      ...        ...
2024-10-20                50      False
2024-10-21                38      False
2024-10-22                28      False
2024-10-23                22      False
2024-10-24                26       True

[93 rows x 2 columns]

            chevrolet Captiva Sport  isPartial
date
2024-07-24                        0      False
2024-07-25                        0      False
2024-07-26                        0      False
2024-07-27                        0      False
2024-07-28                        0      False
...                             ...        ...
2024-10-20                        0      False
2024-10-21                        0      False
2024-10-22                        0      False
2024-10-23                        0      False
2024-10-24                        0       True

[93 rows x 2 columns]

            honda Accord  isPartial
date
2024-07-24             0      False
2024-07-25             0      False
2024-07-26             0      False
2024-07-27             0      False
2024-07-28             0      False
...                  ...        ...
2024-10-20            33      False
2024-10-21            38      False
2024-10-22            38      False
2024-10-23            28      False
2024-10-24            28       True

[93 rows x 2 columns]

            honda Accord Hybrid  isPartial
date
2024-07-24                    0      False
2024-07-25                    0      False
2024-07-26                    0      False
2024-07-27                    0      False
2024-07-28                    0      False
...                         ...        ...
2024-10-20                    0      False
2024-10-21                    0      False
2024-10-22                    0      False
2024-10-23                    0      False
2024-10-24                    0       True

[93 rows x 2 columns]

            hyundai Accent  isPartial
date
2024-07-24              43      False
2024-07-25               0      False
2024-07-26               0      False
2024-07-27               0      False
2024-07-28               0      False
...                    ...        ...
2024-10-20              33      False
2024-10-21              36      False
2024-10-22              37      False
2024-10-23              27      False
2024-10-24              32       True

[93 rows x 2 columns]

## Chunks #3

In [39]:
all_keywords = models[0:5]

In [38]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [44]:
for chunk in [ lst + [all_keywords[0]] for lst in list(chunks(all_keywords[1:], 2))]:
    print(chunk)

['chevrolet Captiva Sport', 'honda Accord', 'chevrolet Camaro']
['honda Accord Hybrid', 'hyundai Accent', 'chevrolet Camaro']

In [46]:
for chunk in [ lst + [all_keywords[0]] for lst in list(chunks(all_keywords[1:], 2))]:
    pytrends.build_payload(chunk, cat=0, timeframe='today 3-m', geo='PE')
    data = pytrends.interest_over_time()
    mean = data.mean()
    print(mean)
    print()

chevrolet Captiva Sport    1.075269
honda Accord               3.548387
chevrolet Camaro           4.505376
isPartial                  0.010753
dtype: float64

honda Accord Hybrid     0.408602
hyundai Accent         31.000000
chevrolet Camaro        2.064516
isPartial               0.010753
dtype: float64